body {
	margin: 0rem;
}

#list_logo {
	position: fixed;
	right: 0rem;
	bottom: 8rem;
	background: gray;
	width: 2.5rem;
	line-height: 2.5rem;
	border-radius: 1.25rem;
}
#san {
	margin: 0 auto;
	overflow: hidden;
	text-indent: -0.23rem;
	width: 1.3rem;
	color: white;
	font-family: "arial black";
	font-weight: bolder;
	font-size: 2rem;
}

#list {
	margin: 0rem;
	padding: 0rem;
	background: whitesmoke;
	width: 8rem;
	position: fixed;
	right: 0rem;
	bottom: 8rem;
	display: none;
}

#list li {
	margin: 0.3125rem;
}

#search div {
	width: 500px;
	margin: 0rem 0rem 0rem auto;
}

legend {
	display: none;
}

fieldset {
	border: none;
}

#search-input {
	background: #fff;
	border: #9c9c9c solid 0.0625rem;
	-moz-box-shadow: inset 1px 1px 1px #dedede;
	-webkit-box-shadow: inset 1px 1px 1px #dedede;
	box-shadow: inset 1px 1px 1px #dedede;
	height: 2rem;
}

#search-input input {
	margin: 0.3125rem;
	outline: 0rem;
	border: 0px;
	font-size: 16px;
	font-family: arial;
	line-height: 22px;
	width: 480px
}

.search-btn {
	margin: 1rem;
	margin-left: 0rem;
	cursor: pointer;
	float: left;
	line-height: 16px;
	text-align: center;
}

body p {
	margin: 0.3125rem;
}

ul {
	overflow: hidden;
}

p {
	border-bottom: #000000 0.0625rem solid;
}

li {
	float: left;
	list-style-type: none;
	margin: 0.625rem;
}

a {
	text-decoration: none;
	color: #000000;
}
