html {background:none repeat scroll 0 0 #FFFFFF;color:#000000;}
body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p {line-height:180%;margin:0;padding:0;}
body {font-family:Tahoma,"ו"}
img {border:medium none;}
li {list-style:none outside none;}
h1, h2, h3, h4, h5, h6 {font-size:100%;}
a {color:#000000;text-decoration:none;}
a:hover, .foot a:hover, .foot a.icp:hover, a.index:hover {color:#FF0000;text-decoration:underline;}
.cRed {color:#FF0000;}
.wrap {font-size:12px;margin:0 auto;overflow:hidden;padding-top:5px;position:relative;width:950px;}
.guide{line-height:180%;}
/*ssts*/
.ts {background:none repeat scroll 0 0 #FFFFFF;border:1px solid #AACCEE;display:inline;float:left;left:328px;overflow:hidden;position:absolute;top:45px;width:333px;z-index:100;}
.ts li {background:none repeat scroll 0 0 #F8FCFF;cursor:pointer;margin-bottom:2px;padding-left:5px;}
/*tbys*/
.topBox {background:none repeat scroll 0 0 #FCFCFC;border:1px solid #E5E5E5;height:53px;overflow:hidden;padding:5px;}
.logo {float:left;margin:0 30px 0 25px;}
.logo img {height:40px;width:196px;}
.top-search {padding-top:8px;position:relative;z-index:88;}
.logo-top {float:left;overflow:hidden;padding:3px 4px 0 0;position:relative;width:67px;z-index:66;}
.lo img{height:24px; width:67px; cursor:pointer;}
.seBox {float:left;height:28px;}
input.i{width:328px;height:18px;position:relative;top:-1px;*top:-2px;[;height:18px;top:2px;]_position:fixed;_height:20px;line-height:140%;padding-left:3px;top:0\9;}
input.seBtn {color:#000000;cursor:pointer;display:inline;font-size:14px;width:84px;height:25px;position:relative;_position:fixed;top:1px;*top:3px;line-height:150%\9;*line-height:120%;_line-height:120%;margin:0;text-align:center;}
span.chooes-zw{display:block;float:left;padding-left:322px;width:60%;position:relative;top:-4px;}
span.chooes-zw input{margin:0 4px 0 0;position:relative;top:2px;}
/*foot*/
.foot {line-height:180%;border-top:1px solid #F2F2F2;color:#666666;float:left;font-size:12px;padding:10px 0;text-align:center;width:100%;}
*+html .foot{margin-top:10px;}
.foot a, a.index {color:#2C80C5;}
.foot a.icp {color:#666666;}
/*zt*/
.guide {color:#666666;font-size:12px;padding:5px 0;}
.left {float:left;overflow:hidden;width:670px;}
.right {display:inline;float:right;overflow:hidden;width:270px;}
.all-list {border:1px solid #AACCEE;float:left;margin-bottom:10px;overflow:hidden;position:relative;width:665px;z-index:99; background:#F8FCFF}
.all-list h1 {background:none repeat scroll 0 0 #EFF6FE;border-bottom:1px solid #D6E7FB;color:#2C80C5;float:left;font-weight:normal;padding:0;text-align:center;width:100%;}
.all-list h1.bor-top {border-top:1px solid #D6E7FB;height:22px; overflow: hidden}
.list {background:none repeat scroll 0 0 #F8FCFF;float:left;font-size:14px;width:100%;position:relative;top:1px;border-bottom:1px solid #D6E7FB}
.list a {border-bottom:1px solid #D6E7FB;border-right:1px solid #D6E7FB;bottom:-1px;display:block;float:left;left:1px;overflow:hidden;padding:5px 0 5px 8px;position:relative;width:124px;z-index:0; overflow:hidden; height:26px;}
.list a:hover{background:#F3F7FA; text-decoration:none}
.sousuo {padding:10px 0 14px;text-align:center;}
.fl {width:268px;}
.fla{padding-bottom:4px;[;padding-bottom:10px;]*padding-bottom:11px;padding-bottom:3px\9;}
ul.softre,ul.listzw {background:none repeat scroll 0 0 #F8FCFF;float:left;width:100%;}
ul.softre li,ul.listzw li {float:left;height:30.8px;padding:1px 0 1px 10px;width:95%;}
.softre a {display:block;float:left;height:20px;margin:5px 0 6px 5px;overflow:hidden;width:45%;}
.softre li span.nm{margin:5px 0 6px 5px;}
.softre a img {height:16px;margin-right:3px;position:relative;top:2px;width:16px;}
ul.listzw li span{ color:#666666;}
a.more {padding-top:5px;text-align:right;}
.more-zw {left:70px;position:relative;top:-10px;_top:-15px;z-index:99;}
.more-zw img{cursor:pointer;}
*+html .more-zw{top:-17px;}
span.add {display:block;float:right;padding:5px;}
span.add a,p.guide a{color:#2A7EC4;}
span.add a img{ position:relative; top:3px;}
p.guide {width:50%; line-height:180%;}
div.title-zw {float:left;width:100%;}
input.sra-ze {height:22px;overflow:hidden;width:328px;}
.tong {width:948px;}
.tong .list a {left:5px;position:relative;width:180px;}
.tong-down {width:945px;}
h4.leibie {background:none repeat scroll 0 0 #EDF6FF;border-bottom:1px solid #D6E7FB;color:#537DA8;display:block;float:left;font-size:12px;font-weight:normal;line-height:180%;padding:0;text-align:center;width:100%;}
.leibie-list {background:none repeat scroll 0 0 #FAFBFC;float:left;height:114px;padding-left:10px;text-align:left;width:94%;}
.leibie-list a img {height:16px;margin-right:3px;position:relative;top:2px;width:16px;}
.leibie-list li {padding:1px 0;_padding:4px 0;font-size:15px;}
.part-list {border-bottom:1px solid #D6E7FB;border-right:1px solid #D6E7FB;float:left;left:1px;overflow:hidden;position:relative;top:1px;width:188px;height:145px;}
.leibie-list a img {margin-right:6px;}
.sszw {padding:10px 0;}


/*ts*/
.ruanj{height:450px;[;height:447px;]*height:448px;height:448px\9;}
.heia{ height:404px;[;height:402px;]*height:402px;_height:402px;height:402px\9;overflow:hidden;}
ul.listzw li { height:25px;}
ul.listzw li a{ padding-right:24px;}
.heib{ height:432px;}
.xszw ul.listzw li{ line-height:251%;}
.shipzw{ height:440px; overflow:hidden;}
ul.listzw2 li{ height:22px;}
ul.listzw3 li{ height:23px;}
table.tablezw{ width:96%;margin:0 0 4px 10px;}
span.btspan{ display:block; color:#2C80C5;float:left;padding-left:14px;}
ul.lista{padding-left:15px;width:90%; float:left;}
ul.lista li{width:20%; float:left; line-height:210%;}
ul.listb li{width:32%;}
.bzdq{ height:895px;[;height:892px;]*height:892px;height:892px\9;_height:917px;}